/* SLIDE HEADER & BODY */
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);

  }
}

*{
  font-family: 'Poppins', sans-serif;
  color: #22211b;
  
}

h1,h3,h4
{
  font-size: 3em;
}

.headerAnimation{
  position: 3;
  margin-left: 20%;
  margin-top: 5em;
  margin-bottom:1em;
  overflow: hidden;
  z-index: 999;
}
#myAnimation > a{
  color: rgb(0, 0, 0);
}
nav {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1.5s ease-out 0s 1 slideFromTop;
  padding: 10px;
  background: #fae586;
}
#top {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1.5s ease-out 0s 1 slideFromTop;
  background: #000000;
  position: fixed;
  top: 0;
  width: 100%;

}
#top > p{
  color: white;
}

.main {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1.5s ease-out 0s 1 slideFromTop;
  background: #F7B601;
}

.content {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1.5s ease-out 0s 1 slideFromTop;
  background: #F7B601;
}
.titulo{
  margin: 1em;
  padding: 1em;
}


.gridContainer{
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color:rgb(228, 174, 178);
  padding: 10px;
}

.grid-item {
  
  padding: 20px;

  text-align:center;
  align-content: center;
}

.imgGridHome{
  width: 60%;
  height: 65%;

}

.imgGridHome:hover{
  opacity: 0.85;
  cursor: pointer;
}

.grid-item > div >{
  width: 50%;
  align-content: center;
}
.spanGridHome{
  font-size: 100%;
 
}
/* /SLIDE HEADER & BODY */

nav{
  text-align: center;
}
nav > a{
  padding-right: 1em;
  text-decoration: none;
}

a:visited{
  color: white;

}

#cursorIndice{
  position: fixed;
  right: 3%;
  bottom: 3%;
  height: 10%;
  width: 4.5%;
  alt:"top";
}
