html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
    scroll-behavior: smooth;
}
.divHeader{
    background-color: #FBEEEB;
    border: 2px solid black;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: flex;
    align-items: baseline;    
}
.logoHeader{
width: 25%;
align-items: flex-start;
flex-grow: "5";
}
.tiempoHeader{
    width: 25%;
    align-items: flex-start;
    flex-grow: "5";
    }
.buttonHeader{
    width: 25%;


    
    }
.divHeader > div {
    background-color: #f1f1f1;
    margin: 5px;
    text-align: center;

    
  }
.cuerpo{
    
    border: 1px;
    max-width: 80%;
    height: 100%;
    margin: auto;
    xbackground-color: #0092C1;
    background-image: url("http://www.textures4photoshop.com/tex/thumbs/rustic-wood-texture-free-49.jpg");
}

