/* HEADER CONTENTO */
body { 
    padding-top: 5em;
}

.dropdown-menu{
    position:absolute;
    top: 10px;
}
/*BODY CONTENT*/
img {
    width: 100%;
}

.rrssFooter{
    margin-left: -0.2em;
    height: 2em;
    width: 2em;
}

/*FOOTER CONTENT*/
.page-footer {
    background: rgba(0, 123, 255, 0.294);
    color: rgb(37, 37, 37);
}
